@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 97%;
    --foreground: 202 75% 9%;
    --card: 210 14% 97%;
    --card-foreground: 202 75% 9%;
    --popover: 210 14% 97%;
    --popover-foreground: 202 75% 9%;
    --primary: 198 58% 27%;
    --primary-foreground: 210 14% 97%;
    --secondary: 182 23% 48%;
    --secondary-foreground: 210 14% 97%;
    --muted: 182 23% 48%;
    --muted-foreground: 202 75% 15%;
    --accent: 182 23% 48%;
    --accent-foreground: 210 14% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 198 58% 85%;
    --input: 198 58% 85%;
    --ring: 198 58% 27%;
    --radius: 0.5rem;
    --chart-1: 202 75% 9%;
    --chart-2: 198 58% 27%;
    --chart-3: 182 23% 48%;
    --chart-4: 198 58% 57%;
    --chart-5: 210 14% 87%;
  }

  .dark {
    --background: 202 75% 9%;
    --foreground: 210 14% 97%;
    --card: 202 75% 9%;
    --card-foreground: 210 14% 97%;
    --popover: 202 75% 9%;
    --popover-foreground: 210 14% 97%;
    --primary: 210 14% 97%;
    --primary-foreground: 202 75% 9%;
    --secondary: 182 23% 48%;
    --secondary-foreground: 210 14% 97%;
    --muted: 198 58% 17%;
    --muted-foreground: 210 14% 80%;
    --accent: 210 14% 97%;
    --accent-foreground: 202 75% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 198 58% 17%;
    --input: 198 58% 17%;
    --ring: 210 14% 97%;
    --chart-1: 210 14% 87%;
    --chart-2: 182 23% 48%;
    --chart-3: 198 58% 27%;
    --chart-4: 202 75% 9%;
    --chart-5: 210 14% 97%;
  }
}

@layer base {
  *,
  *:before,
  *:after {
    @apply border-border;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    line-height: 1.5;
  }
  html {
    scroll-behavior: smooth;
  }
  html, body {
    min-height: 100%;
    height: 100%;
  }
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}
