
.menu-bar-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: background-color 0.3s ease-in-out;
}

.menu-bar {
    display: inline-flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 0;
    transition: all 0.3s ease-in-out;
    background-color: #f0f0f0;
    width: 100%;
    justify-content: center;
}

.menu-bar.scrolled {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    list-style: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    padding: 18px 20px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-bar li:hover {
    background-color: #e0e0e0;
    color: black;
}
