.menu-bar-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 20px 0 0 0;
}

.menu-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 14px;
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
}

.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px;
}

.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.menu-bar li:hover {
    color: black;
}
